/ {
    aliases {
        qdec0 = &qdec;
        spindlepwm0 = &pwm4;
        eeprom0 = &flash0;
        led0 = &user_led;
        display0 = &st7789v0;
    };

    chosen {
	zephyr,display = &st7789v0;
    };
};

&timers1 {
    status = "okay";

    qdec: qdec {
        status = "okay";
        pinctrl-0 = <&tim1_ch1_pa8 &tim1_ch2_pa9>;
        pinctrl-names = "default";
        st,input-polarity-inverted;
        st,input-filter-level = <FDIV32_N8>;
        st,counts-per-revolution = <16>;
    };

    rpm_processing_timer: timer@1 {
        status = "okay";
        pinctrl-0 = <&tim1_ch3_pa10>; // Reuse if appropriate or assign a new channel
        pinctrl-names = "default";
        st,prescaler = <99>; // Prescaler for 1MHz if clock is 100MHz
        st,auto-reload = <250000>; // Adjusted for 250 ms interval, ensure timer capacity
    };

};

&timers2 {
    status = "okay";

    rpm_processing_timer: timer@2 {
        status = "okay";
        pinctrl-0 = <&tim2_ch1_pa0>; // Using a channel of TIM2 for pulse input
        pinctrl-names = "default";
        st,prescaler = <0>; // No prescaler to count each pulse
        st,auto-reload = <0xffffffff>; // Max value for a 32-bit timer
        counter-mode = "up"; // Counting up
    };
};

&timers4 {
	status = "okay";

	pwm4: pwm {
		status = "okay";
		pinctrl-0 = <&tim4_ch1_pb6>;
		pinctrl-names = "default";
        ch1 {
            status = "okay";
            pwm-period = <25000>; /* Period for 40 Hz */
        };
	};
};

&gpioa {
    status = "okay";

    run_button: button0 {
        gpios = <0 GPIO_ACTIVE_HIGH>; /* PA0, Active Low */
        interrupt-parent = <&exti>;
        gpio-hog;
    };

    cal_button: button1 {
        gpios = <1 GPIO_ACTIVE_HIGH>; /* PA1, Active Low */
        interrupt-parent = <&exti>;
        gpio-hog;
    };
};


&spi1 {
	status = "okay";
	cs-gpios = <&gpiob 13 GPIO_ACTIVE_LOW>;	/* PB13 */

    //pinctrl-0 = <&spi1_sck_pb3 &spi1_mosi_pa7>;

	st7789v0:st7789v@0 { //DIN = PA7 
		compatible = "sitronix,st7789v";
		spi-max-frequency = <500000>;
		reg = <0>;
		cmd-data-gpios = <&gpiob 14 GPIO_ACTIVE_LOW>; /* PB14 */
		reset-gpios = <&gpiob 15 GPIO_ACTIVE_LOW>; /* PB15 */
		width = <240>;
		height = <320>;
		x-offset = <0>;
		y-offset = <0>;
		vcom = <0x19>;
		gctrl = <0x35>;
		vrhs = <0x12>;
		vdvs = <0x20>;
		mdac = <0x00>;
		gamma = <0x01>;
		colmod = <0x05>;
		lcm = <0x2c>;
		porch-param = [0c 0c 00 33 33];
		cmd2en-param = [5a 69 02 01];
		pwctrl1-param = [a4 a1];
		pvgam-param = [D0 04 0D 11 13 2B 3F 54 4C 18 0D 0B 1F 23];
		nvgam-param = [D0 04 0C 11 13 2C 3F 44 51 2F 1F 1F 20 23];
		ram-param = [00 F0];
		rgb-param = [CD 08 14];
	};
};

//&spi1 {
//	pinctrl-0 = <&spi1_sck_pa5 &spi1_nss_pa4
//		     &spi1_miso_pa6 &spi1_mosi_pa7>;
//	pinctrl-names = "default";
//	status = "okay";
//};